@import "tailwindcss";

@plugin './hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html, body, #root {
    @apply h-screen w-full m-0 p-0
}

.xterm {
    padding: 0.5rem;
    box-sizing: border-box;
}

.gpu-acceleration {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.will-change-transform {
    will-change: transform, width, height, opacity;
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
